DISCORD_TOKEN=your_discord_bot_token_here
GUILD_ID=your_guild_id_here
CHAN_ALL_ITEMS=รายการทั้งหมด
CHAN_EDIT_LOG=ประวัติการแก้ไข
CHAN_EDIT_ADD_LOG=ประวัติการแก้ไข-เพิ่มรายการ
CHAN_STOCK_LIST=รายการสต็อคทั้งหมด
CHAN_RECEIVE=รายการรับเข้า
CHAN_ISSUE=รายการเบิก
CHAN_STOCK_UPDATES=อัพเดทสต็อค
